
.vs/CS3560-Group-Project/FileContentIndex/d7bfc7bf-d42c-4413-94c2-bc269c47d3a5.vsidx
.vs/CS3560-Group-Project/v17/.wsuo
.vs/CS3560-Group-Project/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/Batch.class
/DatabaseGetter.class
/Image.class
/Ingredient.class
/IngredientBatch.class
/Product.class
/ProductBatch.class
/Supplier.class
/ApiTest.class
/target
/logs
