/* General Page Layout */
body {
    font-family: sans-serif;
    background-color: #d3cbc4;
}

/* Main Content Area */
.content {
    padding-top: 1%;
    color: #3b2f3a;
    margin-left: 15%;
    margin-right: 9%;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.back-link {
    color: #453836;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.save-button {
    background-color: #453836;
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: 2em;
    border-radius: 20%;
}

.save-button:hover {
    background-color: #4538367c;
}

/* Form Layout */
.form {
    display: flex;
    background-color: #453836;
    padding: 2%;
    border-radius: 1%;
    color: #f0f0f0;
    min-width: 900px;

}

/* Form Sections */
.form-selection {
    display: flex;
    width: 100%;
    padding: 40px;
}

.left-side {
    flex: 1; 
}

.right-side {
    flex: 1;
    margin-right: 1%;
}

/* Input Fields and Labels */
label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #dcd3ca;
    margin-bottom: 5px;
}

.form-selection input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 15px;
}

textarea {
    width: 100%; 
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px; 
    font-family: sans-serif;
    background-color: #f0f0f0;
    border-radius: 20px;
}

/* Product Name Styling */
.product-name {
    margin-bottom: 4%; 
    padding-right: 2%;
}

.product-name label {
    font-size: 2em; 
    font-weight: bold;
    color: #ffffff; 
}

.product-name input[type="text"] {
    padding: 2%;
    color: #706661;
    border: 0px;
    width: 90%; 
    outline: none;
}

.product-id label {
    font-size: 2em; 
    font-weight: bold;
    color: #ffffff; 
}

.product-id {
    padding-right: 2%;
}

.product-id input[type="text"] {
    padding: 10px;
    border-radius: 15px;
    width: 90%; 
    padding: 2%;
    background-color: #cecac1;
    color: #706661;
    font-weight: bold;
    border: 0px;
}

/* Description Styling */
.description {
    margin-left: 20px;
    width: auto;
    height: 20%;
    flex: 1;
}

.description label {
    font-size: 2em;
    margin-bottom: 5px; 
    font-weight: bold;
    color: #ffffff;
}

.description textarea {
    width: 100%; 
    height: 100%;
    min-width: fit-content;  
    font-size: 16px;
    margin-bottom: 15px; 
    font-family: sans-serif;
    background-color: #f0f0f0;
    border-radius: 15px;
    resize: none;
    border: 0px;
    color: #706661;
    outline: none;
}

/* Add Photo Styling */
.add-photo {
    height: 500px;
    width: 400px;
    font-size: 40px;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #cecac1;
    border: 0px;
}

.add-photo:hover {
    background-color: #cecac196;
}

.add-photo-label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    color: #fffefe;
}

/* Ingredients Section Styling */
.ingredients {
    float: right;
    background-color: #cecac1;
    border-radius: 8px;
    padding: 2%;
    margin-top: 10%;
    width: 140%;
    height: 100%;
}

.ingredients label {
    color: #4d413e;
    font-size: 2em;
    font-weight: bold;
}
/* Ensure the ingredient rows are displayed inline */
.ingredient-row {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 15px; 
    margin-right: 2%;
}

.ingredient-row label {
    margin-top: 20px;
    color: #4d413e;
    font-size: 0.8rem;
    font-weight:lighter;
}

.ingredient-row input[type="text"] {
    padding: 10px;
    border-radius: 15px;
    width: 100%; 
    background-color: #f3f3f3;
    color: #796f6b;
    font-weight: bold;
    border: none;
    outline: none;
}

.ingredient-row div {
    width: 48%;
}

.ingredient-row div:last-child {
    margin-right: 0; 
}

/* Add New Ingredient Button Styling */
.add-ingredient {
    background-color: #796f6b;
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 2%;
    display: block;
    width: 100%;
}

.add-ingredient:hover {
    background-color: #796f6b86;
}
