body {
    overflow-y: hidden;
}
.right {
    float: right;
    width: 1200px;
    background-color: #453836; 
    padding: 1%;
    border-radius: 30px;
}
a {
    line-height: 3em;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 10%;
    text-decoration: none;
}

.head {
    margin-top: 2%;
    margin-left: 4%;
    color: #F3F3F3;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 80px;
}

.batchNum {
    margin-left: 4%;
    line-height: 2em;
    color: #F3F3F3;
    font-family: sans-serif;
    font-size: 63px;
}

.ingredients-box {
    margin-left: 4%;
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 1000px;
    width: 1100px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.ingredients-box .ingredTitle {
    padding-top: 5%;
    margin-left: 7%;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 80px;
}

.ingredients-box .ingredients {
    margin-left: 15%;
    color: #453836;     
    font-family: sans-serif;
    font-size: 50px;
    line-height:2em;
}


.left {
    margin-left: 10%;
    margin-right: 47%;
}

.image {
    text-align: center;
    vertical-align: middle;
    background-color: #D9D9D9;
    color: #453836;
    height: 600px;
    width: 1200px;
    border-radius: 20px;
}

.descripTitle {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 90px;
    font-weight: bold;
    font-family: sans-serif;
    color: #453836;
}

.descripText {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-family: sans-serif;
    color: #453836;
    text-indent: 50px;
    line-height: 50px;
}