/* General Page Layout */
body {
    font-family: sans-serif;
    background-color: #d3cbc4;
    overflow-y: hidden;
}

/* Main Content Area */
.content {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    margin-left: 17%;
    margin-right: 9%;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    min-width: 955px;
}

.back-link {
    color: #453836;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.hbuttons {
    display: flex;
}

.hbutton {
    background-color: #453836;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 10px;
    margin-right: 2px;
}

.hbutton:hover {
    background-color: #F3F3F3;
    color: #453836;
}

/* Form Layout */
.form {
    display: flex;
    flex-wrap: wrap;
    background-color: #453836;
    margin-top: 4%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 1%;
    min-width: 900px;
    height: 85vh;
    position: sticky;
    bottom: 0;
}

/* Form Sections */
.left-side {
    margin-top: 2%;
    flex: 2; 
}

.right-side {
    margin-top: 4%;
    flex: 1;
}

/* Input Fields and Labels */
label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #dcd3ca;
    margin-bottom: 5px;
}

/* Product Name Styling */
.fieldLabel {
    margin-bottom: 3%; 
}

.fieldLabel label {
    font-size: 2em; 
    font-weight: bold;
    color: #F3F3F3; 
}

input[type="text"], input[type="number"]  {
    padding: 3%;
    color: #706661;
    border: 0px;
    width: 90%; 
    outline: none;
    border-radius: 15px;
}

/* Description Styling */
.description label {
    font-size: 2em;
    margin-bottom: 5px; 
    font-weight: bold;
    color: #F3F3F3;
}

.description textarea {
    width: 100%; 
    height: 80%; 
    font-size: 16px;
    font-family: sans-serif;
    background-color: #F3F3F3;
    border-radius: 15px;
    resize: none;
    border: 0px;
    color: #706661;
    outline: none;
}

/* Add Photo Styling */
.add-photo {
    width: 100%;
    height: 55vh; 
    font-size: 2em;
    border-radius: 15px;
    background-color: #cecac1;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37)
}

input[type="file"]
{
    display: none;
}

.add-photo:hover {
    background-color: #cecac196;
}

.add-photo-label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 2em;
    color: #fffefe;
    margin-bottom: 2%;
}

