body {
    font-family: sans-serif;
    background-color: #d3cbc4;
    overflow-y: hidden;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 18%;
    margin-right: 7%;
    margin-top: 1%;
}

.back-link {
    color: #453836;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.hbutton {
    background-color: #453836;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2em;
    border-radius: 20px;
    padding: 15px;
    width: 5vw;
    text-decoration: none;
    text-align: center;
}

.hbutton:hover {
    background-color: #F3F3F3;
    color: #453836;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #453836; 
    width: 70%;
    margin-left: 17%;
    border-radius: 40px;
    padding: 3%;
    position: sticky;
    bottom: 0;
}

.head {
    color: #F3F3F3;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 7em;
    padding-bottom: 2%;
}

.bottom {
    display: flex;
    border-radius: 5%;
    gap: 4%;
}

.left {
    flex: 1;
}

.right {
    flex: 1.5;    
}

.box {
    background-color: #D9D9D9;
    border-radius: 5%;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: none;
    word-wrap: break-word;
}

.box .Title {
    padding-top: 5%;
    margin-left: 7%;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 4rem;
}

.box .list {
    margin-left: 15%;
    color: #453836;     
    font-family: sans-serif;
    font-size: 3em;
    line-height:2em;
}

@media screen and (max-width: 1650px) {
    body {
        overflow-y: auto;
        scrollbar-width: none;
        overflow-x: hidden;
        margin-left: 5%;
    }
    a {
        margin-left: 10%;
        font-size: 1.5em;
    }

    .container {
        min-width: 900px;
        width: 30%;
    }
     .bottom {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        
    }
    .left {
        flex: 1;
        min-width: 80%;
        
    }
    .right {
        flex: 1;
        min-width: 80%;
    }

    .head {
        font-size: 5em;
    }
    .box {
        height: 50vh;
    }
  }
