h1{
    font-size: 5rem;
    font-family: sans-serif;
    color: #453836;
    text-align: center;
    margin-left: 13%;
}

.buttons {
    justify-content: center;    
    display: flex;
    margin-top: 3%;
    margin-left: 13%;
}

.buttons .button {
    font-size: 3em;
    font-family: sans-serif;
    color: #453836;
    background-color: #F3F3F3;
    margin: 2%;
    border-radius: 30px;
    min-height: 50vh;
    width: 25vw;
    min-width: 350px;
    border: 10px solid #453836;
}

img {
    width: 75%;
    padding-top: 20px;
}

.button:hover {
    background-color: #453836;
    color: #F3F3F3;
}