h1{
    font-size: 100px;
    font-family: sans-serif;
    color: #453836;
    position: fixed;
    top: 0%;
    left: 45%;
    text-align: center;
}

.buttons {
    justify-content: center;
    align-self: center;
    display: flex;
    text-align: center;
    height: 50%;
    width: 80%;
    position: fixed;
    top: 25%;
    left: 17.5%;
    gap: 100px;
}
.buttons .button {
    font-size: 50px;
    font-family: sans-serif;
    
    color: #453836;
    background-color: #F3F3F3;
    margin: 2%;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    border: 10px solid #453836;
    
}

img
{
    width: 75%;
    padding-top: 20px;
}

.button:hover {
    background-color: #453836;
    color: #F3F3F3;
}