body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #453836;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

form {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #453836;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #6b4f47;
}
