/* General Page Layout */
body {
    font-family: sans-serif;
    background-color: #d3cbc4;
    overflow-y: hidden;
}

/* Main Content Area */
.content {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    margin-left: 17%;
    margin-right: 9%;
}

/* Header Section */
.header {
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    min-width: 955px;
}

.back-link {
    color: #453836;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.hbuttons {
    display: flex;
}

.hbutton {
    background-color: #453836;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 10px;
    margin-right: 2px;
    margin-bottom: 2vh;
}

.hbutton:hover {
    background-color: #F3F3F3;
    color: #453836;
}

/* Form Layout */
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #453836;
    margin-top: 4%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 8px 8px 0 0;
    min-width: 900px;
    position: sticky;
    bottom: 0;
}

/* Form Sections */
.form .top {
    display: flex;
    width: 100%;
    max-height: 300px;
    margin-bottom: 4%;
}

.top .left-side {
    flex: 1; 
}

.top .right-side {
    flex: 1;
}

.bottom {
    display: flex;
    width: 100%;
}

.bottom .left-side {
    flex: 1.5; 
    padding-right: 7%;
}

.bottom .right-side {
    flex: 3;
}

/* Input Fields and Labels */
label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #F3F3F3;
    margin-bottom: 5px;
}

/* Product Name Styling */
.product-name {
    margin-bottom: 6%; 
}

.product-name label {
    font-size: 2em; 
    font-weight: bold;
    color: #F3F3F3; 
}

.price label {
    font-size: 2em; 
    font-weight: bold;
    color: #F3F3F3; 
}

input[type="text"], input[type="number"]  {
    padding: 3%;
    color: #706661;
    border: 0px;
    width: 90%; 
    outline: none;
    border-radius: 15px;
}

/* Description Styling */
.description label {
    font-size: 2em;
    margin-bottom: 5px; 
    font-weight: bold;
    color: #F3F3F3;
}

/* Add Photo Styling */
.add-photo {
    height: 90%;
    width: 100%;
    font-size: 40px;
    border-radius: 15px;
    background-color: #cecac1;
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
}

input[type="file"] {
    display: none;   
}

.add-photo:hover {
    background-color: #cecac196;
}

.add-photo-label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 2em;
    color: #fffefe;
}

/* Ingredients Section Styling */
.ingredients {
    align-items: center;
    background-color: #cecac1;
    border-radius: 8px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 55vh;
    padding: 3%;
}
.ingredients .ingredLabel {
    align-self: baseline;
    color: #4d413e;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 3%;
}

.ingredients label {
    padding: 2%;
    color: #4d413e;
    font-size: 2em;
    font-weight: bold;
}
/* Ensure the ingredient rows are displayed inline */
.ingredient-row {
    width: 100%;
    margin-bottom: 2%;
}

.ingredient-row .top-row {
    display: flex;
    gap: 4%;
}

.ingredient-row .top-row .one {
    flex:1;
}

.ingredient-row .top-row .two {
    flex:1;
}

.ingredient-row .top-row .three {
    flex:2;
}

.ingredient-row .top-row input[type="text"] {
    border-radius: 15px;
    height: 2.5em; 
    background-color: #f3f3f3;
    color: #796f6b;
    border: none;
    outline: none;
}

.ingredient-row .bottom-row .remove {
    margin-top: 1%;   
    color: #4d413e;
    font-size: .9rem;
    font-weight:lighter;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration:underline;
}


.ingredient-row label {
    color: #4d413e;
    font-size: 0.8rem;
    font-weight:lighter;
}

/* Add New Ingredient Button Styling */
.add-ingredient {
    background-color: #796f6b;
    color: white;
    border: none;
    padding: 1%;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 2%;
    display: block;
    width: 100%;
}

.add-ingredient:hover {
    background-color: #796f6b86;
}

.message {
    position: absolute;
    padding: 2%;
    font-size: 2em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

/* Dropdown Styling */
select {
    padding: 3%;
    color: #706661;
    width: 90%; 
    outline: none;
    border-radius: 15px;
    background-color: #F3F3F3;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
    border: 2px solid transparent;
}

select:hover {
    background-color: #eae8e5;
}

select:focus {
    border: 2px solid #453836;
}

option {
    color: #706661;
    background-color: #F3F3F3;
    font-size: 1em;
    font-family: sans-serif;
}

@media screen and (max-width: 1400px) {
    .content {
        margin-left: 22%;
    }

    .form {
        border-radius: 1%;
    }

    /* Add Photo Styling */
    .add-photo {
        height: 80%;
        margin-bottom: 2vh;
    }

    /* Ingredients Section Styling */
    .ingredients {
        height: 35vh;
        margin-bottom: 2vh;
    }

    .message {
        margin-top:5vh;
    }
}