a {
    line-height: 3em;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5em;
    padding-left: 10%;
    text-decoration: none;
}

.container {
    display:flex;
}
.right {
    background-color: #453836; 
    width: 100%;
    border-radius: 20px;
    padding-bottom: 2%;
}

.head {
    margin-top: 2%;
    margin-left: 4%;
    color: #F3F3F3;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
}

.batchNum {
    margin-left: 4%;
    line-height: 2em;
    color: #F3F3F3;
    font-family: sans-serif;
    font-size: 4em;
}

.boxes {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.ingredients-box {
    flex: 1;
    margin-left: 4%;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 92%;
    min-height: 200px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.ingredients-box .ingredTitle {
    padding-top: 5%;
    margin-left: 7%;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
}

.ingredients-box .ingredients {
    margin-left: 15%;
    color: #453836;     
    font-family: sans-serif;
    font-size: 3em;
    line-height: 2em;
}

.strgInstruc-box {
    flex: 1;
    margin-left: 4%;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 92%;
    min-height: 200px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.strgInstruc-box .instrucTitle {
    padding-top: 5%;
    margin-left: 7%;
    color: #453836;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
}

.strgInstruc-box .strgInstruc {
    margin-left: 15%;
    color: #453836;     
    font-family: sans-serif;
    font-size: 3em;
    line-height:2em;
}

.left {
    margin-left: 10%;
    width: 100%;
    padding-right: 2%
}

img {
    text-align: center;
    vertical-align: middle;
    height: 40vh;
    width: 45vw;
    object-fit: cover;
    border: 3px solid #F3F3F3;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 2%;
}

.descripTitle {
    margin-top: 3%;
    margin-left: 1%;
    font-size: 5em;
    font-weight: bold;
    font-family: sans-serif;
    color: #453836;
}

.descripText {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 2em;
    font-family: sans-serif;
    color: #453836;
    text-indent: 1.75em;
    line-height: 1.75em;
    padding-bottom: 2%;
}

@media screen and (max-width: 1700px) {
    body {
        overflow-y: auto;
        scrollbar-width: none;
        overflow-x: hidden;
    }
    a {
        max-width: 1100px;
        margin-left: 10%;
        font-size: 1.5em;
    }
     .container {
        display: flex;
    }
    img {
        height: 30vh;
        width: 39vw;
        min-height: 200px;
    }
    .left {
        flex: 2;
        padding-left: 10%;
    }
    .right {
        flex: 1.75;
    }
    .head {
        font-size: 2.2em;
    }
    .batchNum {
        font-size: 1.25em;
    } 
    .ingredients-box .ingredTitle {
        font-size: 2em;
    }
    .ingredients-box .ingredients {
        font-size: 1em;
        line-height: 2em;
        margin-left: 5%;
    }
     
    .strgInstruc-box .instrucTitle {
        font-size: 2em;
    }
    .strgInstruc-box .strgInstruc {
        font-size: 1em;
        line-height: 0.8em;
        margin-left: 5%;
    }

    .descripTitle {
        font-size: 2.5em;
        margin-left: 1vw;
    }
    
    .descripText {
        font-size: 1.25em;
    }
  }