body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 13%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;    
}

/* Search Bar */
.search {
  width: 100%;
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  gap: 2%;
}
.search-bar {
  flex: 4;
  display: flex;
  margin-left: 20%;
}

.search-bar input[type=text] {
  flex: 16;
  height: 5vh;
  width: 90%;
  border-radius: 20px 0 0 20px;
  padding-left: 1%;
  border: none;
  font-size: 1.75em;
  outline: none;
  min-height: 50px;
}

.search-bar button {
  margin-right: 22%;
  flex:1;
  padding: 1%;
  border-radius: 0 20px 20px 0;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
background: #ccc;
}


/* Result Backdrop */
.result-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:2%;
  padding:2%;
  scrollbar-width: none; 
  white-space: nowrap;   
  overflow-x: hidden;      
  overflow-y: auto;
  border: 8px solid #453836;
  background-color: #F3F3F3;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  width: 70vw;
  overflow-y: auto;
}

/* Result Box Components */
.result-box {
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 20px;
  height: 35vh;
  min-height: 250px;
}

.product-ID {
  color: #453836;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 1%;
}

img {
  height: 18vh;
  width: 13vw;
  object-fit: cover;
  border: 3px solid #F3F3F3;
  border-radius: 20px;
  margin-bottom: 5px;
}

.ingredient-name {
  color: #453836;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 1%;
}

.supplier-name {
  color: #453836;
  font-size: 1.2em;
  font-family: sans-serif;
  margin-bottom: 1%;
}

.batch-quantity{
  color: #453836;
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 1%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  background-color: #453836;
  color: #F3F3F3;
  width: 5vw;
  min-width: 80px;
  min-height: 20px;
  height: 3vh;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 2%;
}

@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 18%;
    
  }

  /* Search Bar */
  .search-bar input[type=text] {
    font-size: 1.25em;
  }

  .search-bar button {
    padding: 2%;
  }

  .addSupplier{
    font-size: .7em;
  }

  /* Results */
  .result-grid {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .result-box {
    min-width: 220px;
  }
  .product-name {
    font-size: 1.2em;
  }

  img {
    width: 19vw;
  }
  
  .batch-quantity{
    font-size: 1em;
  }

  .edit-button {
    width: 5vw;
    min-width: 65px;
    height: 3vh;
    font-size: 0.75em;
    margin: 1%;
  }

}

@media screen and (max-width: 1200px) {
  /* Search Bar */
  .search-bar input[type=text] {
    font-size: 1em;
  }

  /* Results */
  .result-grid {
    grid-template-columns: 1fr 1fr;
    
  }
  img {
    width: 30vw;
  }

}