body {
    background-color: #CECAC1;
}
.sidebar {
    text-align: right;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #453836;
    padding-top: 200px;
    box-shadow: 0 4px 9px 9px rgba(0, 0, 0, 0.2); 
}

.sidebar button {
    background-color: #453836;
    color: white;
    font-family: monospace; 
    font-size: 1.9em;
    font-weight: 1000;
    font-weight: bolder;
    font-family: sans-serif;
    padding-right: 15%;
    border: none;
    cursor: pointer;
    margin-bottom: 10%;
}

.sidebar button:hover {
    background-color: antiquewhite;
    color:#453836;
    width: 100%;
}
